/Aplicacion/Presentacion/RecuperosYMandatos/bin/en/RecuperosYMandatos.resources.dll
/Aplicacion/Presentacion/RecuperosYMandatos/bin/en/*.*
/Aplicacion/Presentacion/RecuperosYMandatos/bin/es/*.*
/Aplicacion/Presentacion/RecuperosYMandatos/bin/RecuperosYMandatos.dll
/Aplicacion/Presentacion/RecuperosYMandatos/bin/RecuperosYMandatos.dll.config
/Aplicacion/Presentacion/RecuperosYMandatos/*.pdb
/Aplicacion/Presentacion/RecuperosYMandatos/obj/*.*
