@model RecuperosYMandatos.Models.Deudor
<div id='datosContacto'>
    @using (Ajax.BeginForm("Pregunta2", "Preguntas", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "datosContacto", OnBegin = "deudor.confirmarDatosContacto('#contenedordatosContacto');" }))
    {
        <div class="row">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Composición de la deuda</h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="form-bottom" id="contenedordatosContacto" style="height:100%;">
                @Html.HiddenFor(model => model.ID)
                <div class="form-group" align="center">
                    <input type="text" name="Email" placeholder="Email" class="my-nombre protip" id="email" style="width:320px;">
                </div>
                <div class="form-group" align="center">
                    @Html.DropDownList("ee", new List<SelectListItem>() { new SelectListItem() { Text = "CUIT", Value = "#" },
                       new SelectListItem() { Text = "CUIL", Value = "#" }, }, "CUIT", new { @style = "height:40px; width:100px; font-size:13px;", @class = "form-control" })
                    <input type="text" name="Prefijos" placeholder="Su identidad" class="my-nombre protip" id="celular3" style="height:40px;width:220px;">
                    <input type="text" name="Prefijos" placeholder="Gas Natural Ban" value="Gas Natural Ban" class="my-nombre protip" id="celular3" style="height:40px;width:220px;">
                </div>
                <div class="form-group" align="center">
                    <label>
                    </label>
                </div>
                <div class="form-group" align="center">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Concepto</th>
                                <th>Deuda</th>
                                <th>Pago</th>
                                <th>SubTotal</th>
                                <th>Intereses</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">10/01/2018</th>
                                <td>Período 11/2017 - 12/2017</td>
                                <td>$100,00</td>
                                <td>$0,00</td>
                                <td>$100,00</td>
                                <td>$34,12</td>
                                <td>
                                    <a data-value="" href="@Url.Action("InformeDePago", "Deudor")" class="btnEdit">Informar Pago</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <th scope="row">10/03/2018</th>
                                <td>Período 01/2018 - 02/2018</td>
                                <td>$1000,00</td>
                                <td>$0,00</td>
                                <td>$1000,00</td>
                                <td>$235,12</td>
                                <td>
                                    <a data-value="" href="@Url.Action("Index", "Users")" class="btnEdit">Informar Pago</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    }
</div>

