@model RecuperosYMandatos.Models.Deudor
<div id='datosContacto'>
    @using (Ajax.BeginForm("Acreencias", "Deudor", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "datosContacto", OnBegin = "deudor.confirmarDatosContacto('#contenedordatosContacto');" }))
    {
        <div class="row">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Identificación de Persona Física o Jurídica</h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom" id="contenedordatosContacto" style="height:100%;">
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group" align="center">
                        <input type="text" name="Email" placeholder="Email" class="my-nombre protip" id="email" style="width:320px;">
                    </div>
                    <div class="form-group" align="center">
                        @Html.DropDownList("ee", new List<SelectListItem>() { new SelectListItem() { Text = "CUIT", Value = "#" },
                       new SelectListItem() { Text = "CUIL", Value = "#" }, }, "CUIT", new { @style = "height:40px; width:100px; font-size:13px;", @class = "form-control" })
                        <input type="text" name="Prefijos" placeholder="Su identidad" class="my-nombre protip" id="celular3" style="height:40px;width:220px;">
                    </div>
                    <div class="form-group" align="center">
                        <label>Somos muy cuidados con su información registrada en nuestras bases de datos. Es por ello que para poder iniciar
                        el trámite nos tenemos que asegurar que usted es la persona que dice ser. Es por ello que le haremos algunas preguntas con el
                        fin de identificarlo y asegurar su información.</label>
                    </div>
                    <div class="form-group" align="center">
                        <div align="left">
                            <label>Indique el Domicilio donde llegua el resumen de su Tarjeta de Crédito American Express con Terminación 99###1234</label>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Av. Santa Fe 1510</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Uruguay 1231</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Av. Corrientes 2351</label>
                            </div>

                            <div class="radio">
                                <label><input type="radio" name="optradio">Paraguay 1341</label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group" align="center">
                            <button type="submit" class="btn">Siguiente Pregunta</button>
                        </div>
                </div>
       </div>
    }
</div>

